body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fff;
  color: rgb(74, 74, 79);
  font-size: 13px;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #23212a;
    color: #fff;
  }

  p {
    color: rgb(177, 177, 179);
  }
}
